*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
 
html , body{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(59, 192, 159), rgb(32, 59, 184));
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    height: 450px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

form input{
    width: 60%;
    height: 100%;
    padding: 0 10px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
}

form input:focus{
    border-bottom: 1.5px solid white;
}

form input::placeholder{
    color: white;
    opacity: 1;
}

form button{
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
    margin: 0 0 0 5px;
    border: none;
    border-radius: 3px;
    background-color: white;
    transition-duration: 0.2s;
    font-size: 15px;
}

form button:active {
    scale: 0.9;
}

.inner-container{
    width: 100%;
    height: 80%;
    margin: 20px 0;
    position: relative;
}

.city-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    text-transform: uppercase;

    .city-name{
        font-size: 38px;
    }
    .weather-condition{
        font-size: 18px;
    }
}

.temperature-container{
    width: 100%;
    height: calc(100% - 100px);

    .weather-icon{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .temp{
        text-align: center;
        font-size: 50px;
    }

    .minmax{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .min, .max{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .min{
        border-right: 1.1px solid white;
    }
    .max{
        border-left: 1.1px solid white;
    }
}


/* loading */
/* From Uiverse.io by mobinkakei */ 

.loading {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  

